@import "../../style.scss";

.item-detail-wrapper {
  width: $width;
  max-width: $max-width;
  margin: 20px auto 0;

  .item-detail-box {
    width: 100%;
    background-color: #fff;
    padding: 20px;

    .item-detail-container {
      display: flex;

      .item-detail-information {
        width: 40%;
        padding: 0 20px;
        box-sizing: border-box;
      }

      .item-subtitle {
        color: $dark-grey;
        font-size: 0.8em;
      }

      img {
        width: 300px;
        flex: 1;
        margin-bottom: 20px;
      }

      .item-detail-price {
        font-size: 2em;

        .item-detail-decimals {
          font-size: 0.5em;
        }
      }

      button {
        background-color: $meli-blue;
        color: #fff;
        width: 100%;
        padding: 10px 0;
        margin: 20px 0 0;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: lighten($meli-blue, 10%);
          transition: all 0.5s ease-in-out;
          cursor: pointer;
        }
      }
    }
    .item-detail-description {
      word-break: break-word;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .item-detail-wrapper {
    width: $mobile-width;

    .item-detail-box {
      width: auto;

      .item-detail-container {
        flex-direction: column;

        .item-detail-information {
          width: 100%;
        }
      }
    }
  }
}
