@import "../../style.scss";

.item-list-wrapper {
  width: $width;
  max-width: $max-width;
  margin: 10px auto 0;
  .item-list-container {
    background: #fff;
    padding: 10px 0;
    border-radius: 5px;

    .logo {
      margin-right: 30px;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .item-list-wrapper {
    width: $mobile-width;
  }
}
